body{
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}


/*Resposividad para pantallas chicas*/
@media(max-width:600px){
    .card-container{
        flex-direction: column; /*cambia a columna*/
        align-items: center; /*centra en pantallas chicas*/
    }
}

/* Contenedor general de las tarjetas */
.row.g-4 {
  margin-top: 20px;
}

/* Estilo general de las tarjetas */
.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Efecto hover en las tarjetas */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* Imagen de la tarjeta */
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s ease;
}

/* Zoom suave al pasar el mouse sobre la imagen */
.card:hover .card-img-top {
  transform: scale(1.05);
}

/* Título del producto */
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

/* Precio del producto */
.card-body p.fw-bold {
  font-size: 1rem;
  color: #a328a7; /* verde bootstrap */
  text-align: center;
}

/* Botón del carrito */
.card .btn-success {
  flex: 1;
  background-color: #a328a7;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover del botón */
.card .btn-success:hover {
  background-color: #a328a7;
  transform: scale(1.05);
}

/* Centrar contenido de botones */
.card .mt-3.d-flex {
  justify-content: center;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  font-size: 2rem;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.nav.prev { left: 0; }
.nav.next { right: 0; }


.card-track:active {
  cursor: grabbing;
}
.card-track {
  cursor: grab;
}


.filtro{
  margin: 5%; 
}

