body{
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

/*Contenedor de las tarjetas*/
.card-container{
    display: flex;
    justify-content: center; /*Centra horizontalmente*/
    gap: 20px; /*Espacio entre las tarjetas*/
    flex-wrap: wrap;/*permite que se acomoden en pantallas chicas*/
    padding: 20px;
}

/*Estilos para la tarjeta*/
.card{
    width: 18rem;
    background-color: #b34c99;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(255, 117, 237, 0.5);
}

/*efecto hover en la tarjeta*/
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(255, 117, 237, 0.5);
}

/*imagen dentro de la tarjeta*/
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*Boton estilizado*/
.card .btn{
    background-color: rgb(145, 25, 85);
    color: black;
    border: none;
    transition: background 0.3s ease-in-out;
    
}
.card .btn:hover{
    background-color: rgb(255, 121, 226);
}

h2,p{
margin: 5px;
}

.texto{
    color: rgb(146, 27, 150);
}

/*Resposividad para pantallas chicas*/
@media(max-width:600px){
    .card-container{
        flex-direction: column; /*cambia a columna*/
        align-items: center; /*centra en pantallas chicas*/
    }
}



/*estilos card tipos*/
.slider-container {
margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.card-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 10px;
  scrollbar-width: none;
}

.card-track::-webkit-scrollbar {
  display: none;
}

.card2 {
  flex: 0 0 auto;
  width: 240px;
  background: white;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s;
}

.card2 img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card2 h3 {
  margin: 0;
  padding: 12px;
  font-size: 1rem;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  font-size: 2rem;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.nav.prev { left: 0; }
.nav.next { right: 0; }


.card-track:active {
  cursor: grabbing;
}
.card-track {
  cursor: grab;
}


.filtro{
  margin: 5%; 
}

